{% extends 'base.html' %}
{% block title %}Добро пожаловать!{% endblock %}
{% block body %}

    <br>
    <br>

    <div class='container center'>

        <h5>Институт математики, механики и компьютерных наук ЮФУ
в целях повышения образовательного качества проводит опрос студентов </h5>

        <br>
        <br>

        <a class="waves-effect waves-light btn center blue">Принять участие</a>

        <br><br>
        <br><br>

        <div class="row">

            <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/img/sample.jpg">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>
                                 Приняв участие в опросе,
                                 вы поможете улучшить качество преподаваемых дисциплин,
                                 повысить их доступность и актуальность
                            </p>
                        </div>
                    </div>
                </div>

             <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/img/sample.jpg">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>
                                 Анонимность голосования достигается хранением идентификаторов
                                 проголосовавших без связывания их анкет с авторизационными данными
                            </p>
                        </div>
                    </div>
                </div>

            <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/static/img/sample.jpg">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                            <p>
                                 Вы можете ознакомиться с актуальным исходным кодом проекта
                                 <a href="https://github.com/axazeano/MMCS_Survey" target="_blank">в репозитории на Github</a>
                            </p>
                        </div>
                    </div>
                </div>

        <!-- End of row -->
        </div>

    <!-- End of container -->
    </div>

{% endblock %}